@import url("https://fonts.googleapis.com/css2?family=Alike&family=Noto+Serif&family=Nunito:wght@300&display=swap");

/* font-family: 'Nunito', sans-serif; */

:root {
  --azulBoton: #161666; /* tambien para bordes */
  --rojoBoton: #e25050;
  --grisInput: #eceaea; /* gris mas oscuro */
  --label: #1b335b;
}

/* ---------------------Proveedores y Clientes en realidad------------------------- */

/* -- DIV OCULTAR COLUMNAS -- */
.ocultar > a:is(.toggle-vis).active,
.ocultar > a:is(.toggle-vis):hover {
  border-radius: none !important;
  color: var(--azulBoton);
  font-weight: 700;
  border: none;
}

/* modal para agregar y actualizar */

.modal-content {
  border: 5px solid var(--azulBoton) !important;
  border-radius: 10px;
}

label {
  color: var(--label);
  font-weight: 600;
}

* {
  font-family: "Nunito", sans-serif;
}

.btnRedireccion {
  background-color: var(--azulBoton) !important;
  color: white !important;
}

.btnAccionF {
  background-color: var(--rojoBoton) !important;
  color: white !important;
}

#modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* .form-control {
  background-color: var(--grisInput);
} */

#logoModal {
  width: 25px;
  margin-right: 10px;
}

.imagenEncab {
  width: 80px;
  height: 70px;
  margin-right: 0;
}

/* DATA TABLE */

table {
  background-color: white;
  border: 5px solid #161666;
  border-radius: 10px;
}

/* modal confirmar eliminar */
#modalEliminarContentP {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 5000px;
  border: 5px solid var(--azulBase);
  border-radius: 10px;
}

.modalContenedorP {
  display: flex;
  flex-direction: column;
}

#contenidoHeaderEliminarP {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textoModalP {
  font-size: 25px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.contenidoEliminarP {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 20px;
  height: 100%;
  width: 80%;
}

.bloqueModalP {
  display: flex;
}

#bloqueBtnP {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#btnNo {
  margin-right: 30px;
}

#msgRaSo.invalido,
#msgNit,
#msgTel,
#msgCorreo,
#msgDoc.invalido {
  color: #e25050;
}

/* ---------------------CLientes------------------------- */

#modalContentC {
  border: 5px solid var(--azulBoton);
  border-radius: 10px;
}
.body-R {
  width: 100%;
  border: 5px solid var(--azulBase) !important;
  border-radius: 10px;
  background-color: white;
}
