:root {
  --azulBase: #161666;
  --rojoAcciones: #ef434d;
}

/* -- BOTONES GENERALES -- */

.btnRedireccion {
  background-color: var(--azulBase) !important;
  color: white !important;
}

.btnAccionF {
  background-color: var(--rojoAcciones) !important;
  color: white !important;
}

/* -- HTML -- */
.footer-page {
  display: flex;
  justify-content: flex-end;
  padding-top: 1em;
  gap: 1rem;
}

label {
  color: #1b335b;
  font-weight: 600;
}

table {
  background-color: white;
  border: 5px solid #161666;
  border-radius: 10px;
}

/* -- MODAL -- */

.modal-content {
  border: none;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  border: 5px solid var(--azulBase) !important;
  border-radius: 10px;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -10%;
  width: 70%;
  z-index: 1;
}

.logo img {
  border: 5px solid var(--azulBase) !important;
  border-radius: 10px;
  width: 140px;
  height: 90px;
  background-color: white;
}

/* -- CONTRASEÑA -- */

#msgConfir.valido {
    color: green !important;
}

#msgConfir.invalido,
#msgDoc.invalido,
#msgTel.invalido,
#msgCorreo.invalido {
  color: red;
}

#msgConfir.normal {
  color: #8e8e8e;
}
